<h1 class="h2 pb-4">Categories</h1>
<ul class="list-unstyled templatemo-accordion">
  @for (category of categoriesWithCounts; track $index) {
  <li>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="" [checked]="isSelected(category.category)"
          (change)="onCategoryChange($event, category.category)">
        {{ category.category }} ({{ category.count }})
      </label>
    </div>
  </li>
  } @empty {
  <p>No catgories</p>
  }
</ul>
