<section class="bg-light">
  <div class="container pb-5">
    <div class="row">
      <!-- Product Image and Carousel -->
      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <img class="card-img img-fluid" [src]="product?.image" alt="Product image" id="product-detail">
        </div>
        <div class="row">
          <!-- Carousel Controls -->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <!-- Carousel Wrapper -->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <div class="carousel-inner product-links-wap" role="listbox">
              <!-- First slide -->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" [src]="product?.image" alt="Product Image 1">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" [src]="product?.image" alt="Product Image 2">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" [src]="product?.image" alt="Product Image 3">
                    </a>
                  </div>
                </div>
              </div>
              <!-- Second slide -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_04.jpg" alt="Product Image 4">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_05.jpg" alt="Product Image 5">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_06.jpg" alt="Product Image 6">
                    </a>
                  </div>
                </div>
              </div>
              <!-- Third slide -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_07.jpg" alt="Product Image 7">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_08.jpg" alt="Product Image 8">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid" src="assets/img/product_single_09.jpg" alt="Product Image 9">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel Controls -->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Product Details -->
      <div class="col-lg-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="h2">{{product?.title}}</h1>
            <p class="h3 py-2">{{product?.price | currency:'MAD'}}</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>SKU:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{product?.sku}}</strong></p>
              </li>
            </ul>
            <h6>Description:</h6>
            <p>{{product?.description}}</p>
            <h6>Additional informations:</h6>
            <table class="table fs-6">
              <tbody>
                <tr>
                  <th scope="row">Manufacturer</th>
                  <td>{{product?.manufacturer}}</td>
                </tr>
                <tr>
                  <th scope="row">Quantity Stock</th>
                  <td>{{product?.quantityStock}}</td>
                </tr>
                <tr>
                  <th scope="row">Category</th>
                  <td>{{product?.category}}</td>
                </tr>
                <tr>
                  <th scope="row">Status</th>
                  <td>{{product?.status}}</td>
                </tr>
              </tbody>
            </table>

            <div class="row">
              <div class="col-auto">
                <ul class="list-inline pb-3">
                  <li class="list-inline-item text-right">
                    Quantity
                    <input type="hidden" name="product-quantity" id="product-quantity" [value]="quantity">
                  </li>
                  <li class="list-inline-item">
                    <button type="button" class="btn btn-success" (click)="decreaseQuantity()"
                      [disabled]="quantity <= 1">-</button>
                  </li>
                  <li class="list-inline-item">
                    <span class="badge bg-secondary">{{quantity}}</span>
                    <!-- <input type="number" id="quantity" name="quantity" min="1" [max]="product?.quantityStock"
                      [value]="quantity" [placeholder]="quantity" [maxLength]="2"> -->
                  </li>
                  <li class="list-inline-item">
                    <button type="button" class="btn btn-success" (click)="increaseQuantity()"
                      [disabled]="product && quantity >= product.quantityStock">+</button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col d-grid">
                <a class="btn btn-secondary btn-lg" [routerLink]="['/', ROUTES.SHOP.PATH]">Back to Product List</a>
              </div>
              <div class="col d-grid">
                <a class="btn btn-success btn-lg" (click)="addToCart()">Add To Cart</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
